<div id="boardHeader2">
    <div id="boardHeaderTitle">
        <h1><%= title %></h1>
        <form action="/boards/<%= board._id %>/edit" method="GET">
            <button id="editBtn" class="btnemoji" type="submit">
                &#128221;
            </button>
        </form>
    </div>
    <div id="boardHeaderRemove">
        <form id="deleteBtn" action="/boards/<%= board._id %>?_method=DELETE" method="POST">
            <button id="deleteBtn" class="btnemoji" type="submit">
                <img href="/boards" id="binImg" src="/images/delete.png" alt="recycle bin">
            </button>
        </form>
    </div>
    <div id="boardHeaderOwner">
        <div class="ownerDiv">
            <span class="spanl">Owner:</span>
            <p class="pl"><%= board.boardOwnerName %></p>
        </div>
    </div>
</div>