    <section id="footerCont">
        <nav id="footer">
            <h3 class="h3l">Terms & Conditions</h3>
            <h3 class="h3l">Privacy Policy</h3>
            <h3 class="h3l">Cookies</h3>
            <p class="pl">(C) Ben Stell</p>
        </nav>
    </section>
</body>
</html> 