<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="/javascripts/modal.js"></script>
  <script defer src="/javascripts/krModal.js"></script>
  <script defer src="/javascripts/moment.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/SSlogo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&family=Secular+One&display=swap" rel="stylesheet">
  <title>Success Squad | <%= title %></title>
</head>
<body>
    <nav>
        <div class="groupedHeader">
            <div class="headerItem">
                <img src="/images/SSlogo.png" class="logo">
            </div>
            <form action="/boards"
                <% if (user) { %>
                    <form action="/boards">
                        <a href="/boards" id="h1Logo">SUCCESS SQUAD</a>
                    </form>
                <% } else { %>
                    <form action="/">
                        <a href="/" id="h1Logo">SUCCESS SQUAD</a>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="groupedHeader">
            <div class="headerItem">
                <% if (user) { %>
                    <img class="avatar" src="<%= user.avatar %>">
                <% } %>
            </div>
            <div class="headerItem">
                    <% if (user) { %>
                        <form action="/logout">
                            <button>LOG OUT</button>
                        </form>
                    <% } else { %>
                        <form action="/auth/google">
                            <button>LOG IN</button>
                        </form>
                    <% } %>
            </div>
        </div>
    </nav>