<nav id="subheader">
    <div class="rightCollection">
        <button id="createOKRBtn" class="btn-open">CREATE OKR</button>
        <form action="boards/new" method="GET">
            <button>CREATE BOARD</button>
        </form>
    </div>
</nav>