<nav id="subheader">
    <div class="rightCollection">
        <form action="/boards/<%= objective.objBoardID %>" method="GET">
            <button class="greyBtn">BACK TO OBJECTIVE</button>
        </form>
    </div>
</nav>