<%- include('./partials/header') %>

<main>
    <section>
        <div id="markPanelFloat" class="headerItem">
            <h1 class="bodyh1">The only OKRs app you'll ever need.</h1>
            <p class="pl">All your OKRs in one place:</p>
            <p class="pl">Objectives</p>
            <p class="pl">Key results</p>
            <p class="pl">Dashboards</p>
            <p class="pl">Collaboration</p>
        </div>
        <div>
            <img src="/images/img.png" id="homeImg" class="headerItem">
        </div>
    
    </section>
</main>

<%- include('./partials/footer') %>