<%- include('./partials/header') %>

<main>
    <section id="homepage">
        <section class="Hrule">
        </section>
        <section id="homeSect1">
            <div class="homeTextCont">
                <h1 class="pDark">The only OKRs app you'll ever need.</h1>
                <p class="pDark">All your OKRs in one place:</p>
                <p class="pDark">Create, update and managed objectives.</p>
                <p class="pDark">Add key results.</p>
                <p class="pDark">Share with colleagues.</p>
                <p class="pDark">Collaborate and work towards shared goals.</p>
            </div>
            <div>
                <img src="/images/ssBoards.png" class="homeImg">
            </div>
        </section>
        <section id="homeSect2">
            <div>
                <img src="/images/ssObj.png" class="homeImg">
            </div>
            <div class="homeTextCont">
                <h1 class="pDark">Visualise your OKRs like never before</h1>
                <p class="pDark">New features being added all the time!</p>
            </div>
        </section>
        <section id="homeSect3">
            <div class="homeTextCont">
                <h1 class="pDark">Click LOG IN and SIGN UP today!</h1>
                <p class="pDark">Plans start at £9 per user per month.</p>
            </div>
            <div>
                <img src="/images/ssKrs.png" class="homeImg">
            </div>
        </section>

    </section>
</main>

<%- include('./partials/footer') %>