* {
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
  color: white;
}

body {
  min-height: 100%;
  background-color: black;
  margin: 0 auto;
}

.flexCtr {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Bangers', cursive;
  color: black;
}

.h1Light {
  font-family: 'Instrument Sans', sans-serif;
  margin: 1vmin 0;
  color: white;
}

.h3Dark {
  color: black;
  margin: 0 auto;
}

.h3Light {
  color: white;
  margin: 0;
}


h4 {
  color: white;
}

p {
  margin: 0;
}

.pDark {
  color: black;
}

span {
  font-size: 1vmin;
}


.logo {
  max-width: 30px;
  max-height: 30px;
}

#h1Logo{
  color: black;
  font-size: 2.5vmin;
  font-family: 'Bangers', cursive;
}

.bodyh1 {
  color: white;
  font-family: 'Instrument Sans', sans-serif;;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
}

main {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 50px;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}

.groupedHeader {
  display: flex;
  align-items: center;
}

.headerItem {
  margin-left: 1vmin;
  margin-right: 1vmin;
}

#markPanelFloat {
  max-width: 50vmin;
}

#homeImg {
  max-width: 50vmin;
}

.bodyh1 {
  margin-top: 10vmin;
}

#footerCont {
  display: flex;
  min-width: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pDark {
  color: black
}

#subheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #282828;
}

button {
  display: flex;
  align-items: center;
  background-color: rgb(255, 21, 212);
  border-radius: 1vmin;
  padding: 0.8vmin;
  margin: 1vmin;
  max-width: 10vmin;
  font-size: 1vmin;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

button:hover {
  background-color: rgb(241, 114, 218);
}

.greyBtn {
  background-color: gray;
}

.rightCollection {
  display: flex;
  justify-content: right;
}

.ownerDiv {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.ownerDiv > * {
  padding-right: 2vmin;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1vmin;
}

input, select, textarea{
  color: black;
  padding: 1vmin 1vmin;
  border-radius: 0.5vmin;
  font-size: 1.5vmin;
  width: 100%;
}

#sectionForm {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

#formCont {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5vmin;
}

#newBoardForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#alignRight {
  align-self: flex-end;
  margin-top: 1vmin;
}

.textinput {
  width: 60vmin;
}

.boardTile {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  width: 28vmin;
}

.krTile {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  width: 100%;
}

.krDeleteTile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(39, 39, 39);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  width: 10%;
}

.noVertMargins {
  margin: 0 auto;
}

.krSection {
  width: 100%;
}

.krRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#boardsSection {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}

#pageTitleIndent {
  margin-left: 10%;
}

#boardHeader2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}

#boardHeaderTitle {
  grid-column: 2 / span 4;
  justify-self: start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#boardHeaderRemove {
  grid-column: 7 / span 1;
}

#boardHeaderOwner {
  grid-column: 8 / span 1;
}

#ctrHeadline {
  max-width: 50vmin;
}

#pencilDiv {
  margin-top: 20vmin;
  margin-left: 5vmin;
}

#pencilImg {
  max-width: 10vmin;
  margin: 1vmin;
}

#binImg {
  max-width: 3vmin;
  margin: 1vmin;
}

#deleteBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 0;
}

#editBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 1vmin;
  font-size: 3vmin;
}

#editOKRForm {
  display: flex;
  justify-content: flex-end;
}

#editOKRBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 1vmin;
  font-size: 3vmin;
}

#okrsSection {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}

.objTile {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 1vmin;
  width: 28vmin;
}

.objTitleInput {
  margin-top: 2vmin;
  width: 100%;
}


/* STYLING FOR MODAL */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.4vmin;
  width: 50vmin;
  padding: 1.5vmin;
  min-height: 30vmin;
  position: absolute;
  top: 20%;
  background-color: rgb(245, 245, 245);
  border-radius: 1vmin;
  z-index: 2;
}

.hidden {
  display: none;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-close{
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: black;
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

#closeCreateBtn {
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: black;
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

#closeCreateKRBtn {
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: black;
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

#closeEditBtn {
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: black;
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

#closeEditKRBtn {
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: black;
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1vmin);
  z-index: 1;
}

.krOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1vmin);
  z-index: 1;
}

.submit {
  align-self: flex-end;
}

.objTileTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1vmin;
}

.objSubTile {
  background-color: rgb(62, 62, 62);
  border-radius: 1vmin;
  padding: 1vmin 1vmin;
}

.krOnObj {
  background-color: rgb(62, 62, 62);
  border-radius: 1vmin;
  padding: 1vmin 1vmin;
  margin: 1vmin 0 1vmin 0;
}