* {
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
  --main-bg: #283147;
  --darkpink: #e24a77;
  --lightpink: #e87d98;
  --salmon: #f6887b;
  --darktur: #00a2aa;
  --lightur: #00ccd4;
  --white: #f8f8f8;
  --lightgrey: #dadada;
}

body {
  min-height: 100%;
  background-color: var(--main-bg);
  margin: 0 auto;
}

.flexCtr {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Instrument Sans', sans-serif;
  margin: 1vmin 0;
  color: var(--white);
  font-size: 3.5vmin;
}

h3 {
  margin: 0;
  color: var(--main-bg);
  font-size: 2vmin;
}

.h3l {
  color: var(--white);
  font-size: 2vmin;
  margin: 2vmin 0;
}


h4 {
  color: var(--white);
}

p {
  margin: 0;
  font-size: 1.8vmin;
}

.pl {
  color: var(--white);
  margin: 0;
  font-size: 1.8vmin;
}

.pDark {
  color: var(--darktur);
}

span {
  font-size: 1.3vmin;
  font-weight: 800;
}

.spanl {
  font-size: 1.3vmin;
  font-weight: 800;
  color: var(--white);
}

label {
  margin-top: 1vmin;
}

.logo {
  max-width: 5vmin;
  max-height: 5vmin;
  margin: 2vmin 1vmin;
}

#h1Logo{
  color: var(--white);
  text-shadow: 1px 1px 4px #000000;
  font-size: 3vmin;
  font-family: 'Secular One', sans-serif;
}

.bodyh1 {
  color: var(--white);
  font-family: 'Instrument Sans', sans-serif;;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg);
}

main {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  padding-bottom: 50px;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}

.groupedHeader {
  display: flex;
  align-items: center;
}

.headerItem {
  margin-left: 1vmin;
  margin-right: 1vmin;
}

#markPanelFloat {
  max-width: 50vmin;
}

#homeImg {
  max-width: 50vmin;
}

.bodyh1 {
  margin-top: 10vmin;
}

#footerCont {
  display: flex;
  background-color: var(--darkpink);
}

#footer {
  display: flex;
  justify-content: flex-start;
  padding-left: 38%;
  width: 150%;
  gap: 3vmin;
  background-color: var(--darkpink);
}

#subheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--lightpink);
}

button {
  display: flex;
  align-items: center;
  background-color: var(--darkpink);
  color: var(--white);
  border-radius: 1vmin;
  padding: 0.8vmin;
  margin: 1vmin;
  max-width: 10vmin;
  font-size: 1vmin;
  cursor: pointer;
  border: none;
  font-weight: 600;
  box-shadow: 1px 1px 4px #000000;
}

button:hover {
  background-color: var(--lightpink);
}

.btnemoji {
  box-shadow: none;
}

.greyBtn {
  background-color: var(--white);
  color: var(--main-bg)
}

.rightCollection {
  display: flex;
  justify-content: right;
}

.ownerDiv {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.ownerDiv > * {
  padding-right: 2vmin;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: 1vmin;
}

input, select, textarea {
  color: var(--main-bg);
  padding: 1vmin 1vmin;
  border-radius: 0.5vmin;
  font-size: 1.5vmin;
  margin-top: 2vmin;
  width: 100%;
}

#sectionForm {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

#formCont {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5vmin;
}

#newBoardForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#alignRight {
  align-self: flex-end;
  margin-top: 1vmin;
}

.textinput {
  width: 60vmin;
}

.boardTile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--white);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 2vmin 1vmin 1vmin 1vmin;
  width: 45%;
}

.krTile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 2vmin 0 0 0;
  width: 100%;
}

.krDateTile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmin 0 0 1vmin;
  background-color: var(--white);
  border-radius: 1vmin;
  width: 20%;
}

.krDeleteTile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1vmin;
  padding: 1vmin;
  margin: 2vmin 0 0 1vmin;
  width: 10%;
}

.noVertMargins {
  margin: 0 auto;
}

.krSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 75%;
}


.krRow {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

#boardsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 90%;
}

#pageTitleIndent {
  margin-left: 10%;
}


#boardHeader2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
  background-color: var(--darkpink);
}


#boardHeaderTitle {
  grid-column: 2 / span 4;
  justify-self: start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chooseBoard {
  grid-column: 7 / span 2;
  justify-self: start;
}

#boardHeaderRemove {
  grid-column: 7 / span 1;
}

#boardHeaderOwner {
  grid-column: 8 / span 1;
}

#ctrHeadline {
  max-width: 50vmin;
}

#pencilDiv {
  margin-top: 20vmin;
  margin-left: 5vmin;
}

#pencilImg {
  max-width: 10vmin;
  margin: 1vmin;
}

#addKRBtn {
  margin-top: 2vmin;
}

.addKRunique {
  margin-left: 5vmin;
}

#binImg {
  max-width: 3vmin;
  margin: 1vmin;
}

#deleteBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 0;
}

#editBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 1vmin;
  font-size: 3vmin;
}

#editOKRForm {
  display: flex;
  justify-content: flex-end;
}

#editOKRBtn {
  background-color: transparent;
  height: 4vmin;
  width: 4vmin;
  padding: 0;
  margin: 1vmin;
  font-size: 3vmin;
}

#okrsSection {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 90%;
}

.objTile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1vmin;
  padding: 1.5vmin;
  margin: 2vmin 1vmin 1vmin 1vmin;
  width: 45%;
}

.objTitleInput {
  margin-top: 2vmin;
}


/* STYLING FOR MODAL */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.4vmin;
  width: 50vmin;
  padding: 1.5vmin;
  min-height: 20vmin;
  position: absolute;
  top: 20%;
  background-color: var(--white);
  border-radius: 1vmin;
  z-index: 2;
}

.modalCont {
  width: 46vmin;
  display: flex;
  gap: 2vmin;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.closeBtns {
  display: flex;
  justify-content: flex-end;
  width: 47vmin;
}

.hidden {
  display: none;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-close{
  font-size: 2vmin;
  border-radius: 0;
  background-color: transparent;
  color: var(--main-bg);
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
}

.KRMODALCONT {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#delBCancelBtn {
  background-color: var(--lightgrey);
  color: var(--main-bg)
}

#canDelBtns {
  display: flex;
  align-self: flex-end;
  justify-content: stretch;
  align-items: center;
}

#delBModalCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vmin;
}

#delBModalForm {
  display: flex;
  align-items: center;
}

#closeCreateBtn {
  font-size: 3vmin;
  border-radius: 0;
  background-color: transparent;
  color: var(--main-bg);
  padding: 0.5vmin;
  margin: 0;
  box-shadow: none;
  justify-self: flex-end;
}

#closeCreateKRBtn {
  font-size: 3vmin;
  border-radius: 0;
  background-color: transparent;
  color: var(--main-bg);
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
  box-shadow: none;
}

#closeEditBtn {
  font-size: 3vmin;
  border-radius: 0;
  background-color: transparent;
  color: var(--main-bg);
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
  box-shadow: none;
}

#closeEditKRBtn {
  font-size: 3vmin;
  border-radius: 0;
  background-color: transparent;
  color: var(--main-bg);
  padding: 0.5vmin;
  margin: 0;
  align-self: flex-end;
  box-shadow: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1vmin);
  z-index: 1;
}

.krOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1vmin);
  z-index: 1;
}

.submit {
  align-self: flex-end;
}

.objTileTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1vmin;
}

.objSubTile {
  background-color: var(--lightgrey);
  border-radius: 1vmin;
  padding: 1vmin 1vmin;
}

.krOnObj {
  background-color: var(--lightgrey);
  border-radius: 1vmin;
  padding: 1vmin 1vmin;
  margin: 1vmin 0 1vmin 0;
}