<%- include('../partials/header') %>
<%- include('../partials/subHObjHome') %>
<%- include('../partials/title') %>
<main>
    <section id="sectionForm">
        <div id="formCont" class="flexctr">
            <form id="newBoardForm" action="/boards" method="POST">
              <label class="pl">Board name:<br>
                <input class='textinput' type="text" name="boardName">
              </label><br>
              <label class="pl">Description:<br>
                <textarea class='textinput' type="text" name="boardDesc"></textarea>
              </label><br>
              <button type="submit">SUBMIT</button>
            </form>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>