<%- include('../partials/header') %>
<%- include('../partials/subheader') %>
<%- include('../partials/boardHeader') %>
<main>
    <section>
    
    </section>
</main>

<%- include('../partials/footer') %>